.works-container h1{
    color: #ee7775;
    position: relative;
}
.works-container  .title h1::after{    
        position: absolute;
        content: "";
        top: 54%;
        left: 46%;
        width: 80px;
        height: 2px;
        background-color:  #ee7775;
}
.img-style{
    transition: 0.8s;
}
.img-style:hover{
    transform: scale(1.05);
}